<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
        </script>
    <style>
        .header {
            position: sticky;
            top: 0;
        }

        .container {
            border-radius: 25px;
            margin-top: 2%;
            width: 550px;
            height: 450px;
            overflow: auto;
            background-color: rgb(150, 150, 150);
        }

        h1 {
            color: rgb(0, 0, 0);
        }
    </style>
</head>
<%- include('../home/header') %>
    <%- include('../home/nav') %>
        <hr class="mt-0 mb-4 ">

        <body style="background-color:  rgb(15, 19, 32); ">
            <div class="body" style="margin-top:-40px">
                <div style="text-align: center; margin-top: 3%; padding-top:30px">
                    <h1 style="color: #ffffff;"><b>Setting Section</b></h1>
                </div>
                <div class="container" style="height: auto;padding:10px;padding-left:40px;padding-right:40px">
                    <div class="row gx-3 mb-3 mt-3" style="margin-top: 30px;">
                        <div class="col-md-4 mt-3 " >
                            <div style="margin-top: -10px;">
                                <b>ค้นหา section</b>
                            </div>
                            <div>
                                <form class="d-flex">
                                    <input class="form-control me-2 " type="search" placeholder="Search section">
                                    <button class="btn btn-light me-2  ml-3" type="submit">Search</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4 mt-3  justify-content-end">
                            <div  style="margin-top: -10px">
                                <b >เพิ่ม section</b>
                            </div>
                            <div>
                                <form class="d-flex" method="post" action="Section">
                                    <input class="form-control" type="text" placeholder="add news section" name="name"
                                        aria-label="">
                                    <button class="btn btn-warning me-2  ml-3" type="submit">Add</button>
                            </div>
                        </div>

                    </div>
                    <p style="margin-top: 2%;"><b></b></p>
                    <table class="table table-hover">
                        <thead style="position: sticky;top: 0" class="thead-dark">
                            <tr>
                                <!-- <th class="header" scope="col">Image</th> -->
                                <th class="header" scope="col">Section id</th>
                                <th class="header" scope="col">Section name</th>
                                <th class="header" scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody style="background-color: rgb(255, 255, 255);">
                            <% section.forEach((section)=> { %>
                                <tr>
                                    <td>
                                        <p class="fw-normal mb-1">
                                            <%- section.section_id %>
                                        </p>
                                    </td>
                                    <td>
                                        <p class="fw-normal mb-1">
                                            <%- section.name %>
                                        </p>
                                    </td>
                                    <td>
                                        <p class="fw-normal mb-1">
                                            <i class="fa-solid fa-trash fa-lg" style="color: #d01616; "></i>
                                        </p>
                                    </td>
                                </tr>
                                <% }); %>
                        </tbody>
                    </table>
                </div>
                <div class="row gx-3 mb-3 mt-3" style="margin-top: 30px;">

                </div>
                <%- include('../home/footer') %>
        </body>
        <script src="https://kit.fontawesome.com/4c6ee23687.js"></script>

</html>