<div class="splide " id="splide2" role="group" aria-label="Splide Basic HTML Example">
    <div class="splide__track">
        <ul class="splide__list">
            <% Center.forEach(center=> { %>
                <li class="splide__slide" style="max-height: 200px; ">
                    <div class="card-menu mb-3" style="max-width: 600px;height:200px">
                        <div class="row g-0">
                            <div class="col-md-6">
                                <div class="top-menu" style="margin-left: 10px;margin-top:25px">
                                    <% if (center.card_picture) { %>
                                        <% const imcard=center.card_picture.substring(7) %>
                                            <a href="/details/<%= center.news_id %>">
                                                <img class="card-img-top mx-auto" src="<%= imcard %>" alt="">
                                                <% } %>
                                            </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h5 class="card-title " style="font-size: 16px;"><b>
                                            <%= center.title.substring(0, 50)%>...
                                        </b></h5>
                                    <p class="card-text ">
                                        <%= center.welding_para.substring(0, 50)%>...
                                    </p>
                                    <% const start=center.start%>
                                        <% const newStart=new Date(start); %>
                                            <% newStart.setHours(newStart.getHours()+7); %>
                                                <% const formattedStart=new Date(newStart).toISOString().substring(5,10)%>
                                                    <% const end=center.end%>
                                                        <% const newEnd=new Date(end); %>
                                                            <% newEnd.setHours(newEnd.getHours()+7); %>
                                                                <% const formattedEnd=new Date(newEnd).toISOString().substring(5,10)%>
                                                                    <p class="card-text"><small
                                                                            class="text-body-secondary">
                                                                          วันที่  <%= formattedStart %> - <%= formattedEnd %>
                                                                        </small>
                                                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <% }) %>
        </ul>
    </div>
</div>



<style>
    /* สไลด์เฉพาะในหน้านี้ */
    #splide2 .splide__arrow {
        margin-top: -50px;
        margin-block-end: -50px;
        margin-right: -15px;
        margin-left: -15px;
    }

    #splide2 .splide__pagination__page {
        margin-left: 400px;
    }

    .card-menu {
        background: #ffffff;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border: 0;
        margin-bottom: 1rem;
        font-family: 'Mitr', sans-serif;
    }
</style>

<style>

</style>


<script>
    var splide2 = new Splide('#splide2', {
        type: 'loop',
        direction: 'ttb',
        height: '69rem',
        perMove: 1,
        perPage: 4,
        //autoplay: true,
    });
    splide2.mount();
</script>