<% Center.forEach((profile, index)=> { %>
    <% if (index===0) { %>
        <!-- ทำงานกับ index 0 -->
        <div class="carousel-item active" data-interval="5000">
            <div class="row">
                <div class="col-md-6">
                    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                        <div class="top">
                            <% if (profile.card_picture) { %>
                                <% const imcard=profile.card_picture.substring(7) %>
                                    <a href="/details/<%= profile.news_id %>">
                                        <img class="card-img-top" src="<%= imcard %>" alt="">
                                        <% } %>
                                    </a>
                        </div>
                        <div class="card-body-commu">
                            <div class="icon-container">
                                <!-- ส่วนของปุ่มกดหัวใจ -->
                                <% const news_id=profile.news_id; %>
                                    <% const isLike=like.some(item=>
                                        item.like_news_id === news_id); %>
                                        <% if (isLike) { %>
                                            <i class="bi bi-heart-fill" style="color: rgb(143, 1, 1);" id="likeIcon"
                                                data-news-id="<%= news_id %>" onclick="removeLike(this)"></i>
                                            <% } else { %>
                                                <i class="bi bi-heart" id="likeIcon" data-news-id="<%= news_id %>"
                                                    onclick="addLike(this)"></i>
                                                <% } %>
                                                    <!-- ส่วนของคอมเม้น -->
                                                    <% if (CommentCounts[profile.news_id] !==undefined) { %>
                                                        <i class="bi bi-chat" id="commentIcon"
                                                            onclick="goToNewsDetailAndScroll('<%= profile.news_id %>')"></i>
                                                        <p style="font-size: 14px; margin-left:-5px; margin-top:6px; margin-bottom: -6px;">
                                                            <%= CommentCounts[profile.news_id] %>
                                                        </p>
                                                        <% } else { %>
                                                            <i class="bi bi-chat" id="commentIcon"
                                                                onclick="goToNewsDetailAndScroll('<%= profile.news_id %>')"></i>
                                                            <% } %>
                                                                <script>
                                                                    // JavaScript ของหน้าการ์ดข่าว
                                                                    function goToNewsDetailAndScroll(newsId) {
                                                                        // สร้าง URL ของหน้ารายละเอียดข่าว
                                                                        var newsDetailURL = "http://localhost:3000/details/" + newsId + "#comments"; // เปลี่ยน URL ตามความเหมาะสม
                                                                        // นำผู้ใช้ไปยัง URL ของหน้ารายละเอียดข่าวนั้นๆ
                                                                        window.location.href = newsDetailURL;
                                                                    }
                                                                </script>
                                                                <!--------------->
                                                    <!-- ปุ่มของส่วนกดแชร์ -->
                                                    <i class="bi bi-send" id="shareIcon"
                                                        onclick="shareButton(this)"
                                                        style="padding-top: 1px;"></i>
                                                    <script>
                                                        function shareButton(iconElement) {
                                                            // รับข้อมูล news_id จาก data attribute ของไอคอนที่ถูกคลิก
                                                            var newsId = iconElement.getAttribute("data-news-id");
                                                            // สร้าง URL ให้ใช้จาก ngrok
                                                            var urlToShare = "https://bd48-2405-9800-bc20-9f6a-c189-cdec-ead2-67de.ngrok-free.app/details/<%= profile.news_id %>";
                                                            // เปิดหน้าแชร์ลิงก์บน Facebook
                                                            window.open("https://www.facebook.com/sharer/sharer.php?u=" + encodeURIComponent(urlToShare), "_blank");
                                                        }
                                                    </script>
                                                    <!-- ส่วนของปุ่มกดบุคมาร์ค -->
                                                    <% const isBookmarked=bookmark_id.some(item=>
                                                        item.b_news_id ===
                                                        news_id); %>
                                                        <% if (isBookmarked) { %>
                                                            <i class="bi bi-bookmark-check-fill" id="bookmarkIcon"
                                                                data-news-id="<%= news_id %>"
                                                                onclick="removeBookmark(this)"></i>
                                                            <% } else { %>
                                                                <i class="bi bi-bookmark" id="bookmarkIcon"
                                                                    data-news-id="<%= news_id %>"
                                                                    onclick="addBookmark(this)"></i>
                                                                <% } %>

                            </div>
                            <% if (likeCounts[profile.news_id] !==undefined) { %>
                                <div style="margin-top: -5px;">
                                    <p style="font-size: 13px;color:#1e1e1e;">
                                        จำนวนไลค์: <%= likeCounts[profile.news_id] %>
                                            ครั้ง
                                    </p>
                                </div>
                                <% } else { %>
                                    <div style="margin-top: -5px;">
                                        <p style="font-size: 13px;color:#1e1e1e;">
                                            ยังไม่มีการกดไลค์
                                        </p>
                                    </div>
                                    <% } %>
                        </div>
                        <script>
                            async function addBookmark(icon) {
                                const newsId = icon.getAttribute('data-news-id');

                                try {
                                    const response = await fetch(`/bookmark/${newsId}`, {
                                        method: 'POST'
                                    });

                                    const data = await response.json();

                                    if (data.success) {
                                        bookmark_id.push({ b_news_id: newsId });
                                        icon.classList.add('bi-bookmark-check-fill');
                                        icon.classList.remove('bi-bookmark');
                                    } window.location.reload();

                                    console.log(data.message);
                                } catch (error) {
                                    console.error('เกิดข้อผิดพลาด:', error);
                                }
                            }

                            async function removeBookmark(icon) {
                                const newsId = icon.getAttribute('data-news-id');

                                try {
                                    const response = await fetch(`/bookmark/${newsId}`, {
                                        method: 'DELETE'
                                    });
                                    const data = await response.json();
                                    if (data.success) {
                                        const index = bookmark_id.findIndex(item => item.b_news_id === newsId);
                                        if (index !== -1) {
                                            bookmark_id.splice(index, 1);
                                        }
                                        icon.classList.add('bi-bookmark');
                                        icon.classList.remove('bi-bookmark-check-fill');
                                    } window.location.reload();

                                    console.log(data.message);
                                } catch (error) {
                                    console.error('เกิดข้อผิดพลาด:', error);
                                }
                            }
                        </script>
                        <script>
                            async function addLike(icon) {
                                const newsId = icon.getAttribute('data-news-id');

                                try {
                                    const response = await fetch(`/like/${newsId}`, {
                                        method: 'POST'
                                    });

                                    const data = await response.json();

                                    if (data.success) {
                                        like_id.push({ like_news_id: newsId });
                                        icon.classList.add('bi-bookmark-check-fill');
                                        icon.classList.remove('bi-heart');
                                    } window.location.reload();

                                    console.log(data.message);
                                } catch (error) {
                                    console.error('เกิดข้อผิดพลาด:', error);
                                }
                            }

                            async function removeLike(icon) {
                                const newsId = icon.getAttribute('data-news-id');

                                try {
                                    const response = await fetch(`/like/${newsId}`, {
                                        method: 'DELETE'
                                    });
                                    const data = await response.json();
                                    if (data.success) {
                                        const index = like.findIndex(item => item.like_news_id === newsId);
                                        if (index !== -1) {
                                            like_id.splice(index, 1);
                                        }
                                        icon.classList.add('bi-heart');
                                        icon.classList.remove('bi-heart-check-fill');
                                    } window.location.reload();

                                    console.log(data.message);
                                } catch (error) {
                                    console.error('เกิดข้อผิดพลาด:', error);
                                }
                            }
                        </script>
                    </div>
                </div>
                <div class="col-md-6 mt-2 position-relative">
                    <span class="badge bg-danger px-2 py-1 shadow-1-strong mb-3">
                        News of the day
                    </span>
                    <div class="card-body-profile">
                        <h4><strong>
                                <a href="/details/<%= profile.news_id %>" class="">
                                    <!-- title -->
                                    <b><%- profile.title %></b>
                                </a>
                            </strong></h4>
                        <p class="text-muted mb-4">
                            <%- profile.welding_para %>
                        </p>
                    </div>
                    <div class="card-footer" style="margin-top: auto; padding: 5px ; width: 100%; height: 40px;">
                        <a style="font-size: 15px; color:#6e6e6e;">
                            <span style="font-size: small; margin: 0px;">
                                <i class="bi bi-calendar2-week fa-xl"
                                    style="color: palevioletred; padding-right:5px"></i>
                                <% if (profile.start) { %>
                                    <% const start=profile.start%>
                                        <% const newStart=new Date(start); %>
                                            <% newStart.setHours(newStart.getHours()+7); %>
                                                <% const formattedStart=new
                                                    Date(newStart).toISOString().substring(0,10)%>
                                                    <% const end=profile.end%>
                                                        <% const newEnd=new Date(end); %>
                                                            <% newEnd.setHours(newEnd.getHours()+7); %>
                                                                <% const formattedEnd=new
                                                                    Date(newEnd).toISOString().substring(0,10)%>
                                                                    <%= formattedStart %> -
                                                                        <%= formattedEnd %>
                                                                            <% } else { %>
                                                                                ไม่มีกำหนดการ
                                                                                <% } %>
                                                                                    <!-- ชื่อ -->
                                                                                    <% if (profile.profile_image) { %>
                                                                                        <img id="profilePicture"
                                                                                            class="img-account-profile rounded-circle mb-2"
                                                                                            style="height: 30px; padding-right:5px;"
                                                                                            <% const
                                                                                            imagePath=profile.profile_image.substring(6);
                                                                                            %>
                                                                                        src="
                                                                                        <%= imagePath %>
                                                                                            "
                                                                                            alt="">
                                                                                            <% } else { %>
                                                                                                <img id="profilePicture"
                                                                                                    class="img-account-profile rounded-circle mb-2"
                                                                                                    style="height: 30px;padding-right:5px;"
                                                                                                    src="http://bootdey.com/img/Content/avatar/avatar1.png"
                                                                                                    alt="">
                                                                                                <% } %>
                                                                                                    <%-profile.name %>

                                                                                                        <!-- อีเมล -->
                                                                                                        <i class="bi bi-envelope fa-lg"
                                                                                                            style="padding-right: 5px; margin-left:10px;"></i><%-profile.email%>
                                                                                                            <!-- วันที่ประกาศ -->
                                                                                                            <% const
                                                                                                                date=profile.time_stamp%>
                                                                                                                <% const
                                                                                                                    newDate=new
                                                                                                                    Date(date);
                                                                                                                    %>
                                                                                                                    <% newDate.setHours(newDate.getHours()+
                                                                                                                        7);
                                                                                                                        %>
                                                                                                                        <% const
                                                                                                                            formattedDate=new
                                                                                                                            Date(newDate).toISOString().substring(0,
                                                                                                                            19).replace('T', ' '
                                                                                                                            )%>
                                                                                                                            <span
                                                                                                                                style="font-size: small; margin-left:10px;">โพสเมื่อ
                                                                                                                                :
                                                                                                                                <%-formattedDate%>
                                                                                                                            </span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
            <% }); %>
                <% Center.forEach((profile, index)=> { %>
                    <% for (let i=1; i < Center.length; i++) { %>
                        <% const profile=Center[i]; %>
                            <!-- ทำงานกับ profile ที่มี index มากกว่าหรือเท่ากับ 1 -->

                            <div class="carousel-item " data-interval="5000">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5"
                                            data-mdb-ripple-color="light">
                                            <div class="top">
                                                <% if (profile.card_picture) { %>
                                                    <% const imcard=profile.card_picture.substring(7) %>
                                                        <a href="/details/<%= profile.news_id %>">
                                                            <img class="card-img-top" src="<%= imcard %>" alt="">
                                                            <% } %>
                                                        </a>
                                            </div>
                                            <div class="card-body-commu">
                                                <div class="icon-container">
                                                    <!-- ส่วนของปุ่มกดหัวใจ -->
                                                    <% const news_id=profile.news_id; %>
                                                        <% const isLike=like.some(item=>
                                                            item.like_news_id
                                                            === news_id); %>
                                                            <% if (isLike) { %>
                                                                <i class="bi bi-heart-fill"
                                                                    style="color: rgb(143, 1, 1);" id="likeIcon"
                                                                    data-news-id="<%= news_id %>"
                                                                    onclick="removeLike(this)"></i>
                                                                <% } else { %>
                                                                    <i class="bi bi-heart" id="likeIcon"
                                                                        data-news-id="<%= news_id %>"
                                                                        onclick="addLike(this)"></i>
                                                                    <% } %>
                                                                    <!-- ส่วนของคอมเม้น -->
                                                    <% if (CommentCounts[profile.news_id] !==undefined) { %>
                                                        <i class="bi bi-chat" id="commentIcon"
                                                            onclick="goToNewsDetailAndScroll('<%= profile.news_id %>')"></i>
                                                        <p style="font-size: 14px; margin-left:-5px; margin-top:6px ;margin-bottom: -6px;">
                                                            <%= CommentCounts[profile.news_id] %>
                                                        </p>
                                                        <% } else { %>
                                                            <i class="bi bi-chat" id="commentIcon"
                                                                onclick="goToNewsDetailAndScroll('<%= profile.news_id %>')"></i>
                                                            <% } %>
                                                                <script>
                                                                    // JavaScript ของหน้าการ์ดข่าว
                                                                    function goToNewsDetailAndScroll(newsId) {
                                                                        // สร้าง URL ของหน้ารายละเอียดข่าว
                                                                        var newsDetailURL = "http://localhost:3000/details/" + newsId + "#comments"; // เปลี่ยน URL ตามความเหมาะสม
                                                                        // นำผู้ใช้ไปยัง URL ของหน้ารายละเอียดข่าวนั้นๆ
                                                                        window.location.href = newsDetailURL;
                                                                    }
                                                                </script>
                                                                <!--------------->
                                                                <!-- ปุ่มของส่วนกดแชร์ -->
                                                                <i class="bi bi-send" id="shareIcon"
                                                                    onclick="shareButton(this)"
                                                                    style="padding-top: 1px;"></i>
                                                                <script>
                                                                    function shareButton(iconElement) {
                                                                        // รับข้อมูล news_id จาก data attribute ของไอคอนที่ถูกคลิก
                                                                        var newsId = iconElement.getAttribute("data-news-id");
                                                                        // สร้าง URL ให้ใช้จาก ngrok
                                                                        var urlToShare = "https://bd48-2405-9800-bc20-9f6a-c189-cdec-ead2-67de.ngrok-free.app/details/<%= profile.news_id %>";
                                                                        // เปิดหน้าแชร์ลิงก์บน Facebook
                                                                        window.open("https://www.facebook.com/sharer/sharer.php?u=" + encodeURIComponent(urlToShare), "_blank");
                                                                    }
                                                                </script>
                                                                        <!-- ส่วนของปุ่มกดบุคมาร์ค -->
                                                                        <% const isBookmarked=bookmark_id.some(item=>
                                                                            item.b_news_id
                                                                            ===
                                                                            news_id);
                                                                            %>
                                                                            <% if (isBookmarked) { %>
                                                                                <i class="bi bi-bookmark-check-fill"
                                                                                    id="bookmarkIcon"
                                                                                    data-news-id="<%= news_id %>"
                                                                                    onclick="removeBookmark(this)"></i>
                                                                                <% } else { %>
                                                                                    <i class="bi bi-bookmark"
                                                                                        id="bookmarkIcon"
                                                                                        data-news-id="<%= news_id %>"
                                                                                        onclick="addBookmark(this)"></i>
                                                                                    <% } %>

                                                </div>
                                                <% if (likeCounts[profile.news_id] !==undefined) { %>
                                                    <div style="margin-top: -5px;">
                                                        <p style="font-size: 13px;color:#1e1e1e;">
                                                            จำนวนไลค์: <%= likeCounts[profile.news_id] %>
                                                                ครั้ง
                                                        </p>
                                                    </div>
                                                    <% } else { %>
                                                        <div style="margin-top: -5px;">
                                                            <p style="font-size: 13px;color:#1e1e1e;">
                                                                ยังไม่มีการกดไลค์
                                                            </p>
                                                        </div>
                                                        <% } %>
                                            </div>
                                            <script>
                                                async function addBookmark(icon) {
                                                    const newsId = icon.getAttribute('data-news-id');

                                                    try {
                                                        const response = await fetch(`/bookmark/${newsId}`, {
                                                            method: 'POST'
                                                        });

                                                        const data = await response.json();

                                                        if (data.success) {
                                                            bookmark_id.push({ b_news_id: newsId });
                                                            icon.classList.add('bi-bookmark-check-fill');
                                                            icon.classList.remove('bi-bookmark');
                                                        } window.location.reload();

                                                        console.log(data.message);
                                                    } catch (error) {
                                                        console.error('เกิดข้อผิดพลาด:', error);
                                                    }
                                                }

                                                async function removeBookmark(icon) {
                                                    const newsId = icon.getAttribute('data-news-id');

                                                    try {
                                                        const response = await fetch(`/bookmark/${newsId}`, {
                                                            method: 'DELETE'
                                                        });
                                                        const data = await response.json();
                                                        if (data.success) {
                                                            const index = bookmark_id.findIndex(item => item.b_news_id === newsId);
                                                            if (index !== -1) {
                                                                bookmark_id.splice(index, 1);
                                                            }
                                                            icon.classList.add('bi-bookmark');
                                                            icon.classList.remove('bi-bookmark-check-fill');
                                                        } window.location.reload();

                                                        console.log(data.message);
                                                    } catch (error) {
                                                        console.error('เกิดข้อผิดพลาด:', error);
                                                    }
                                                }
                                            </script>
                                            <script>
                                                async function addLike(icon) {
                                                    const newsId = icon.getAttribute('data-news-id');

                                                    try {
                                                        const response = await fetch(`/like/${newsId}`, {
                                                            method: 'POST'
                                                        });

                                                        const data = await response.json();

                                                        if (data.success) {
                                                            like_id.push({ like_news_id: newsId });
                                                            icon.classList.add('bi-bookmark-check-fill');
                                                            icon.classList.remove('bi-heart');
                                                        } window.location.reload();

                                                        console.log(data.message);
                                                    } catch (error) {
                                                        console.error('เกิดข้อผิดพลาด:', error);
                                                    }
                                                }

                                                async function removeLike(icon) {
                                                    const newsId = icon.getAttribute('data-news-id');

                                                    try {
                                                        const response = await fetch(`/like/${newsId}`, {
                                                            method: 'DELETE'
                                                        });
                                                        const data = await response.json();
                                                        if (data.success) {
                                                            const index = like.findIndex(item => item.like_news_id === newsId);
                                                            if (index !== -1) {
                                                                like_id.splice(index, 1);
                                                            }
                                                            icon.classList.add('bi-heart');
                                                            icon.classList.remove('bi-heart-check-fill');
                                                        } window.location.reload();

                                                        console.log(data.message);
                                                    } catch (error) {
                                                        console.error('เกิดข้อผิดพลาด:', error);
                                                    }
                                                }
                                            </script>
                                        </div>
                                    </div>

                                    <div class="col-md-6 mt-2 position-relative">
                                        <span class="badge bg-danger px-2 py-1 shadow-1-strong mb-3">News
                                            of the day
                                        </span>
                                        <div class="card-body-profile">
                                            <h4><strong>
                                                    <a href="/details/<%= profile.news_id %>" class="">
                                                        <!-- title -->
                                                        <b><%- profile.title %></b>
                                                    </a>
                                                </strong></h4>
                                            <p class="text-muted mb-4">
                                                <%- profile.welding_para %>
                                            </p>
                                        </div>
                                        <div class="card-footer"
                                            style="margin-top: auto; padding: 5px ; width: 100%; height: 40px;">
                                            <a style="font-size: 15px; color:#6e6e6e;">
                                                <span style="font-size: small; margin: 0px;">
                                                    <i class="bi bi-calendar2-week fa-xl"
                                                        style="color: palevioletred; padding-right:5px"></i>
                                                    <% if (profile.start) { %>
                                                        <% const start=profile.start%>
                                                            <% const newStart=new Date(start); %>
                                                                <% newStart.setHours(newStart.getHours()+7); %>
                                                                    <% const formattedStart=new
                                                                        Date(newStart).toISOString().substring(0,10)%>
                                                                        <% const end=profile.end%>
                                                                            <% const newEnd=new Date(end); %>
                                                                                <% newEnd.setHours(newEnd.getHours()+7);
                                                                                    %>
                                                                                    <% const formattedEnd=new
                                                                                        Date(newEnd).toISOString().substring(0,10)%>
                                                                                        <%= formattedStart %>
                                                                                            -
                                                                                            <%= formattedEnd %>
                                                                                                <% } else { %>
                                                                                                    ไม่มีกำหนดการ
                                                                                                    <% } %>
                                                                                                        <!-- ชื่อ -->
                                                                                                        <% if
                                                                                                            (profile.profile_image)
                                                                                                            { %>
                                                                                                            <img id="profilePicture"
                                                                                                                class="img-account-profile rounded-circle mb-2"
                                                                                                                style="height: 30px; padding-right:5px;"
                                                                                                                <% const
                                                                                                                imagePath=profile.profile_image.substring(6);
                                                                                                                %>
                                                                                                            src="
                                                                                                            <%= imagePath
                                                                                                                %>
                                                                                                                "
                                                                                                                alt="">
                                                                                                                <% } else
                                                                                                                    { %>
                                                                                                                    <img id="profilePicture"
                                                                                                                        class="img-account-profile rounded-circle mb-2"
                                                                                                                        style="height: 30px;padding-right:5px;"
                                                                                                                        src="http://bootdey.com/img/Content/avatar/avatar1.png"
                                                                                                                        alt="">
                                                                                                                    <% }
                                                                                                                        %>
                                                                                                                        <%-profile.name
                                                                                                                            %>

                                                                                                                            <!-- อีเมล -->
                                                                                                                            <i class="bi bi-envelope fa-lg"
                                                                                                                                style="padding-right: 5px; margin-left:10px;"></i><%-profile.email%>
                                                                                                                                <!-- วันที่ประกาศ -->
                                                                                                                                <% const
                                                                                                                                    date=profile.time_stamp%>
                                                                                                                                    <% const
                                                                                                                                        newDate=new
                                                                                                                                        Date(date);
                                                                                                                                        %>
                                                                                                                                        <% newDate.setHours(newDate.getHours()+
                                                                                                                                            7);
                                                                                                                                            %>
                                                                                                                                            <% const
                                                                                                                                                formattedDate=new
                                                                                                                                                Date(newDate).toISOString().substring(0,
                                                                                                                                                19).replace('T', ' '
                                                                                                                                                )%>
                                                                                                                                                <span
                                                                                                                                                    style="font-size: small; margin-left:10px;">โพสเมื่อ
                                                                                                                                                    :
                                                                                                                                                    <%-formattedDate%>
                                                                                                                                                </span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                                <% }); %>