<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Center_Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/card.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="stylesheets/hero_doom.css">
    <style>
        #navbar-b .navbar-brand {
            margin-right: 0;
        }

        #navbar-b .navbar-brand img {
            width: 80px;
        }

        @media screen and (min-width: 768px) {
            #navbar-b .navbar-brand img {
                width: 100px;
            }

            #navbar-b .container-fluid {
                flex-direction: column;
            }

            #navbar-b .navbar-nav .nav-item {
                padding: 0.5em 1em;
            }

            #navbar-b .navbar-nav {
                border-bottom: 2px solid #000000;
            }
        }

        #navbar-b .navbar-nav .nav-link {
            color: #000000;
            font-size: 1.1em;
        }

        #navbar-b .navbar-nav {
            border-top: 2px solid #000000;
            margin-top: 0.5em;
        }
    </style>
</head>

<%- include('../home/header') %>
    <%- include('../home/nav') %>

        <body>
            <h1 class="header" style="margin-left: 4%; margin-top: 2%;"><b>Highlights</b></h1>
            <section class="hero">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <%- include('../home/centerpage_component/top_slidebar.ejs') %>
                </div>
            </section>

            <article>
                <%- include('../home/centerpage_component/menu_button.ejs') %>
                    <section class="h-100  gradient-custom-2 py-3 d-flex justify-content-center align-items-center">
                        <div class="container-st h-100 ">
                            <div class="row d-flex justify-content-center align-items-center"
                                style="margin-top: -40px;">
                                <div class="row" id="cards_landscape_wrap-2">
                                    <div class="col-lg-12 my-2">
                                        <div class="row pt-3">
                                            <% Center.forEach((profile)=> { %>
                                                <div class="col-lg-3 col-md-6 mb-3">
                                                    <div class="card h-100"
                                                        style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); transition: 0.3s;">
                                                        <div class="top">
                                                            <% if (profile.card_picture) { %>
                                                                <% const imcard=profile.card_picture.substring(7) %>
                                                                    <a href="/details/<%= profile.news_id %>">
                                                                        <img class="card-img-top" src="<%= imcard %>"
                                                                            alt="">
                                                                        <% } %>
                                                                    </a>
                                                        </div>
                                                        <div class="card-body-commu">
                                                            <div class="icon-container">
                                                                <!-- ส่วนของปุ่มกดหัวใจ -->
                                                                <% const news_id=profile.news_id; %>
                                                                    <% const isLike=like.some(item=>
                                                                        item.like_news_id === news_id); %>
                                                                        <% if (isLike) { %>
                                                                            <i class="bi bi-heart-fill"
                                                                                style="color: rgb(143, 1, 1);"
                                                                                id="likeIcon"
                                                                                data-news-id="<%= news_id %>"
                                                                                onclick="removeLike(this)"></i>
                                                                            <% } else { %>
                                                                                <i class="bi bi-heart" id="likeIcon"
                                                                                    data-news-id="<%= news_id %>"
                                                                                    onclick="addLike(this)"></i>
                                                                                <% } %>

                                                                                    <!-- ส่วนของปุ่มคอมเม้น -->
                                                                                    <i class="bi bi-chat"></i>
                                                                                    <!-- ปุ่มของส่วนกดแชร์ -->
                                                                                    <i class="bi bi-send"
                                                                                        style="padding-top: 1px;"></i>
                                                                                    <!-- ส่วนของปุ่มกดบุคมาร์ค -->

                                                                                    <% const
                                                                                        isBookmarked=bookmark_id.some(item=>
                                                                                        item.b_news_id === news_id); %>
                                                                                        <% if (isBookmarked) { %>
                                                                                            <i class="bi bi-bookmark-check-fill"
                                                                                                id="bookmarkIcon"
                                                                                                data-news-id="<%= news_id %>"
                                                                                                onclick="removeBookmark(this)"></i>
                                                                                            <% } else { %>
                                                                                                <i class="bi bi-bookmark"
                                                                                                    id="bookmarkIcon"
                                                                                                    data-news-id="<%= news_id %>"
                                                                                                    onclick="addBookmark(this)"></i>
                                                                                                <% } %>

                                                            </div>


                                                            <% if (likeCounts[profile.news_id] !==undefined) { %>


                                                            <% if (likeCounts[profile.news_id] !==undefined) { %>
                                                                <div style="margin-top: -5px;">
                                                                    <p style="font-size: 13px;color:#1e1e1e;">
                                                                        จำนวนไลค์: <%= likeCounts[profile.news_id] %>
                                                                            ครั้ง
                                                                        จำนวนไลค์: <%= likeCounts[profile.news_id] %>
                                                                            ครั้ง
                                                                    </p>
                                                                </div>
                                                                <% } else { %>
                                                                    <div style="margin-top: -5px;">
                                                                        <p style="font-size: 13px;color:#1e1e1e;">
                                                                            ยังไม่มีการกดไลค์
                                                                        </p>
                                                                    </div>
                                                                    <% } %>

                                                                <% } else { %>
                                                                    <div style="margin-top: -5px;">
                                                                        <p style="font-size: 13px;color:#1e1e1e;">
                                                                            ยังไม่มีการกดไลค์
                                                                        </p>
                                                                    </div>
                                                                    <% } %>

                                                        </div>
                                                        <script>
                                                            async function addBookmark(icon) {
                                                                const newsId = icon.getAttribute('data-news-id');

                                                                try {
                                                                    const response = await fetch(`/bookmark/${newsId}`, {
                                                                        method: 'POST'
                                                                    });

                                                                    const data = await response.json();

                                                                    if (data.success) {
                                                                        bookmark_id.push({ b_news_id: newsId });
                                                                        icon.classList.add('bi-bookmark-check-fill');
                                                                        icon.classList.remove('bi-bookmark');
                                                                    } window.location.reload();

                                                                    console.log(data.message);
                                                                } catch (error) {
                                                                    console.error('เกิดข้อผิดพลาด:', error);
                                                                }
                                                            }

                                                            async function removeBookmark(icon) {
                                                                const newsId = icon.getAttribute('data-news-id');

                                                                try {
                                                                    const response = await fetch(`/bookmark/${newsId}`, {
                                                                        method: 'DELETE'
                                                                    });
                                                                    const data = await response.json();
                                                                    if (data.success) {
                                                                        const index = bookmark_id.findIndex(item => item.b_news_id === newsId);
                                                                        if (index !== -1) {
                                                                            bookmark_id.splice(index, 1);
                                                                        }
                                                                        icon.classList.add('bi-bookmark');
                                                                        icon.classList.remove('bi-bookmark-check-fill');
                                                                    } window.location.reload();

                                                                    console.log(data.message);
                                                                } catch (error) {
                                                                    console.error('เกิดข้อผิดพลาด:', error);
                                                                }
                                                            }
                                                        </script>
                                                        <script>
                                                            async function addLike(icon) {
                                                                const newsId = icon.getAttribute('data-news-id');

                                                                try {
                                                                    const response = await fetch(`/like/${newsId}`, {
                                                                        method: 'POST'
                                                                    });

                                                                    const data = await response.json();

                                                                    if (data.success) {
                                                                        like_id.push({ like_news_id: newsId });
                                                                        icon.classList.add('bi-bookmark-check-fill');
                                                                        icon.classList.remove('bi-heart');
                                                                    } window.location.reload();

                                                                    console.log(data.message);
                                                                } catch (error) {
                                                                    console.error('เกิดข้อผิดพลาด:', error);
                                                                }
                                                            }

                                                            async function removeLike(icon) {
                                                                const newsId = icon.getAttribute('data-news-id');

                                                                try {
                                                                    const response = await fetch(`/like/${newsId}`, {
                                                                        method: 'DELETE'
                                                                    });
                                                                    const data = await response.json();
                                                                    if (data.success) {
                                                                        const index = like.findIndex(item => item.like_news_id === newsId);
                                                                        if (index !== -1) {
                                                                            like_id.splice(index, 1);
                                                                        }
                                                                        icon.classList.add('bi-heart');
                                                                        icon.classList.remove('bi-heart-check-fill');
                                                                    } window.location.reload();

                                                                    console.log(data.message);
                                                                } catch (error) {
                                                                    console.error('เกิดข้อผิดพลาด:', error);
                                                                }
                                                            }
                                                        </script>
                                                        <div class="card-body-profile">
                                                            <h5 class="card-title ">
                                                                <a href="/details/<%= profile.news_id %>" class="">
                                                                    <!-- title -->
                                                                    <b><%- profile.title %></b>
                                                                </a>

                                                            </h5>
                                                            <p class="card-text " style="font-size: 16;">
                                                                <!-- welding -->
                                                                <%- profile.welding_para %>
                                                            </p>
                                                        </div>
                                                        <div class="card-footer">
                                                            <a
                                                                style="font-size: 12px; color:#6e6e6e; margin-bottom: 3%;">
                                                                <p style="font-size: small; "><i
                                                                        class="bi bi-calendar2-week fa-xl"
                                                                        style="color: palevioletred; padding-right:5px"></i>
                                                                        <% if (profile.start) { %>
                                                                            <% const start=profile.start%>
                                                                            <% const newStart=new Date(start); %>
                                                                            <% newStart.setHours(newStart.getHours()+7); %>
                                                                            <% const formattedStart=new Date(newStart).toISOString().substring(0,10)%>
                                                                            <% const end=profile.end%>
                                                                            <% const newEnd=new Date(end); %>
                                                                            <% newEnd.setHours(newEnd.getHours()+7); %>
                                                                            <% const formattedEnd=new Date(newEnd).toISOString().substring(0,10)%>  
                                                                            <%= formattedStart %> - <%= formattedEnd %>
                                                                        <% }  else { %>
                                                                            ไม่มีกำหนดการ
                                                                        <% }  %>
                                                                    
                                                                </p>
                                                                <!-- ชื่อ -->
                                                                <% if (profile.profile_image) { %>
                                                                    <img id="profilePicture"
                                                                        class="img-account-profile rounded-circle mb-2"
                                                                        style="height: 30px; padding-right:5px;" <%
                                                                        const
                                                                        imagePath=profile.profile_image.substring(6); %>
                                                                    src="<%= imagePath %>" alt="">
                                                                        <% } else { %>
                                                                            <img id="profilePicture"
                                                                                class="img-account-profile rounded-circle mb-2"
                                                                                style="height: 30px;padding-right:5px;"
                                                                                src="http://bootdey.com/img/Content/avatar/avatar1.png"
                                                                                alt="">
                                                                            <% } %><%-profile.name %>
                                                                                    <!-- อีเมล -->
                                                                                    <i class="bi bi-envelope fa-lg"
                                                                                        style="padding-right: 5px;padding-left:10px;"></i></i><%-profile.email
                                                                                        style="padding-right: 5px;padding-left:10px;"></i></i><%-profile.email
                                                                                        %>
                                                                                        <!-- วันที่ประกาศ -->
                                                                                        <% const
                                                                                            date=profile.time_stamp%>
                                                                                            <% const newDate=new
                                                                                                Date(date); %>
                                                                                                <% newDate.setHours(newDate.getHours()+
                                                                                                    7); %>
                                                                                                    <% const
                                                                                                        formattedDate=new
                                                                                                        Date(newDate).toISOString().substring(0,
                                                                                                        19).replace('T', ' '
                                                                                                        )%>
                                                                                                        <p
                                                                                                            style=" color: #6f0505;">
                                                                                                            โพสเมื่อ
                                                                                                            <%-formattedDate
                                                                                                                %>
                                                                                                        </p>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% }); %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                            <!--Section: News of the day-->
                            <div class="row gx-5" style="margin-top: 4%;">
                                <div class="col-md-6 mb-4">
                                    <div class="bg-image hover-overlay ripple shadow-2-strong"
                                        data-mdb-ripple-color="light" style="border: 1px solid black;">
                                        <img src="https://mdbcdn.b-cdn.net/img/new/slides/080.webp" class="img-fluid" />
                                        <a href="#!">
                                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);">
                                            </div>
                                        </a>
                                        <div class="card-body-commu">
                                            <div class="icon-container">
                                                <i class="bi bi-heart"></i>
                                                <i class="bi bi-chat"></i>
                                                <i class="bi bi-send" style="padding-top: 1px;"></i>
                                                <i class="bi bi-bookmark"></i>
                                            </div>
                                            <div style="margin-top: -5px;">
                                                <p style="font-size: 13px;color:#1e1e1e;">
                                                    ถูกใจ 1,523 คน
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <span class="badge bg-danger px-2 py-1 shadow-1-strong mb-3">News of the day</span>
                                    <h4><strong>Facilis consequatur eligendi</strong></h4>
                                    <p class="text-muted">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis consequatur
                                        eligendi quisquam doloremque vero ex debitis veritatis placeat unde animi
                                        laborum
                                        sapiente illo possimus, commodi dignissimos obcaecati illum maiores corporis.
                                    </p>
                                    <a style="font-size: 15px; color:#6e6e6e;">
                                        <p style="font-size: small; margin-bottom: 3px;"><i
                                                class="bi bi-calendar2-week fa-xl"
                                                style="color: palevioletred; padding-right:5px"></i>
                                            กำหนดการ:12 ส.ค. 66 - 19 ส.ค. 66
                                        </p>
                                        <!-- ชื่อ -->
                                        <i class="bi bi-person-circle fa-sm"
                                            style="padding-left:3px; margin-bottom: 3px;">P'Crea</i>
                                        <!-- อีเมล -->
                                        <i class="bi bi-envelope fa-sm"
                                            style="padding-left:15px; margin-bottom: 3px;">c@gmail.com</i>
                                        <!-- วันที่ประกาศ -->
                                        <p style="font-size: small; color: #6f0505; margin-top: 1%;">โพสเมื่อ 2023-09-12
                                        </p>
                                    </a>
                                    <button type="button" class="btn btn-primary">อ่านเพิ่มเติม >>> </button>
                                </div>
                            </div>

                            <!--Section: News of the day-->
                            <!-- ////////////////////////////////////////////////////////////////////////////////////////// -->
                            <section class="pt-3 pb-3">
                                <div class="row">
                                    <div class="col-6">
                                        <h3 class="mb-1"><b>กิจกรรมภายในมหาวิทยาลัย</b></h3>
                                    </div>
                                    <div class="col-6 text-right">
                                        <a class="btn btn-primary mb-1 mr-1" href="#carouselExampleIndicators2"
                                            role="button" data-slide="prev">
                                            <i class="fa fa-arrow-left"></i>
                                        </a>
                                        <a class="btn btn-primary mb-1 " href="#carouselExampleIndicators2"
                                            role="button" data-slide="next">
                                            <i class="fa fa-arrow-right"></i>
                                        </a>
                                    </div>
                                    <div class="col-12">
                                        <div id="carouselExampleIndicators2" class="carousel slide"
                                            data-ride="carousel">
                                            <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <div class="card">
                                                                <img class="img-fluid" alt="100%x280"
                                                                    src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">
                                                                <div class="card-body-commu">
                                                                    <div class="icon-container">
                                                                        <i class="bi bi-heart"></i>
                                                                        <i class="bi bi-chat"></i>
                                                                        <i class="bi bi-send"
                                                                            style="padding-top: 1px;"></i>
                                                                        <i class="bi bi-bookmark"></i>
                                                                    </div>
                                                                    <div style="margin-top: -5px;">
                                                                        <p style="font-size: 13px;color:#1e1e1e;">
                                                                            ถูกใจ 1,523 คน
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="card-body-profile">
                                                                    <h4 class="card-title">Special title treatment</h4>
                                                                    <p class="card-text">With supporting text below as a
                                                                        natural lead-in to additional content.</p>
                                                                </div>
                                                                <div class="card-footer"
                                                                    style="margin-top: 4%; padding: 20px 30px;">
                                                                    <a style="font-size: 15px; color:#6e6e6e;">
                                                                        <p
                                                                            style="font-size: small; margin-bottom: 3px;">
                                                                            <i class="bi bi-calendar2-week fa-xl"
                                                                                style="color: palevioletred; padding-right:5px"></i>
                                                                            กำหนดการ:12 ส.ค. 66 - 19 ส.ค. 66
                                                                        </p>
                                                                        <!-- ชื่อ -->
                                                                        <i class="bi bi-person-circle fa-sm"
                                                                            style="padding-left:3px; margin-bottom: 3px;">P'Crea</i>
                                                                        <!-- อีเมล -->
                                                                        <i class="bi bi-envelope fa-sm"
                                                                            style="padding-left:15px; margin-bottom: 3px;">c@gmail.com</i>
                                                                        <!-- วันที่ประกาศ -->
                                                                        <p
                                                                            style="font-size: small; color: #6f0505; margin-top: 1%;">
                                                                            โพสเมื่อ 2023-09-12</p>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="card">
                                                                <img class="img-fluid" alt="100%x280"
                                                                    src="https://images.unsplash.com/photo-1517760444937-f6397edcbbcd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=42b2d9ae6feb9c4ff98b9133addfb698">
                                                                <div class="card-body">
                                                                    <h4 class="card-title">Special title treatment</h4>
                                                                    <p class="card-text">With supporting text below as a
                                                                        natural lead-in to additional content.</p>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="card">
                                                                <img class="img-fluid" alt="100%x280"
                                                                    src="https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3d2e8a2039c06dd26db977fe6ac6186a">
                                                                <div class="card-body">
                                                                    <h4 class="card-title">Special title treatment</h4>
                                                                    <p class="card-text">With supporting text below as a
                                                                        natural lead-in to additional content.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                                <div class="carousel-item">
                                                    <div class="row">

                                                        <div class="col-md-4">
                                                            <div class="card">
                                                                <img class="img-fluid" alt="100%x280"
                                                                    src="https://images.unsplash.com/photo-1532771098148-525cefe10c23?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3f317c1f7a16116dec454fbc267dd8e4">
                                                                <div class="card-body">
                                                                    <h4 class="card-title">Special title treatment</h4>
                                                                    <p class="card-text">With supporting text below as a
                                                                        natural lead-in to additional content.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="card">
                                                                <img class="img-fluid" alt="100%x280"
                                                                    src="https://images.unsplash.com/photo-1532715088550-62f09305f765?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=ebadb044b374504ef8e81bdec4d0e840">
                                                                <div class="card-body">
                                                                    <h4 class="card-title">Special title treatment</h4>
                                                                    <p class="card-text">With supporting text below as a
                                                                        natural lead-in to additional content.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                <div class="col-6 mb-3" style="margin-left: -2px;" >
                                    <h3 class="mb-1"><b>ชมรม</b></h3>
                                </div>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="cards-wrapper">
                                            <div id="card-s" class="card">
                                                <img src="https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA0L2pvYjY4Ni0yNTMteC5qcGc.jpg?s=0nkDYDOa-GUOKDgR1l-N71criub0mdRv4R9jHp_koEA"
                                                    class="card-img-top" alt="...">
                                                <div class="card-body-commu">
                                                    <div class="icon-container">
                                                        <i class="bi bi-heart"></i>
                                                        <i class="bi bi-chat"></i>
                                                        <i class="bi bi-send" style="padding-top: 1px;"></i>
                                                        <i class="bi bi-bookmark"></i>
                                                    </div>
                                                    <div style="margin-top: -5px;">
                                                        <p style="font-size: 13px;color:#1e1e1e;">
                                                            ถูกใจ 1,523 คน
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="card-body-profile">
                                                    <h5 class="card-title">Card title</h5>
                                                    <p class="card-text">Some quick example text to build on the card
                                                        title and make up the bulk of the card's content.</p>
                                                </div>
                                                <div class="card-footer" style="margin-top: 4%; padding: 20px 30px;">
                                                    <a style="font-size: 15px; color:#6e6e6e;">
                                                        <p style="font-size: small; margin-bottom: 3px;">
                                                            <i class="bi bi-calendar2-week fa-xl"
                                                                style="color: palevioletred; padding-right:5px"></i>
                                                            กำหนดการ:12 ส.ค. 66 - 19 ส.ค. 66
                                                        </p>
                                                        <!-- ชื่อ -->
                                                        <i class="bi bi-person-circle fa-sm"
                                                            style="padding-left:3px; margin-bottom: 3px;">P'Crea</i>
                                                        <!-- อีเมล -->
                                                        <i class="bi bi-envelope fa-sm"
                                                            style="padding-left:15px; margin-bottom: 3px;">c@gmail.com</i>
                                                        <!-- วันที่ประกาศ -->
                                                        <p style="font-size: small; color: #6f0505; margin-top: 1%;">
                                                            โพสเมื่อ 2023-09-12</p>
                                                    </a>
                                                </div>
                                            </div>
                                            <div  id="card-s" class="card d-none d-md-block">
                                                <img src="https://images.template.net/wp-content/uploads/2015/04/Cartoon-Mickey-Mouse-Drawing-Template.jpg"
                                                    class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5 class="card-title">Card title</h5>
                                                    <p class="card-text">Some quick example text to build on the card
                                                        title and make up the bulk of the card's content.</p>
                                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                                </div>
                                            </div>
                                            <div  id="card-s" class="card d-none d-md-block">
                                                <img src="https://images.template.net/wp-content/uploads/2015/04/Cartoon-Mickey-Mouse-Drawing-Template.jpg"
                                                    class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5 class="card-title">Card title</h5>
                                                    <p class="card-text">Some quick example text to build on the card
                                                        title and make up the bulk of the card's content.</p>
                                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                                </div>
                                            </div>
                                            <div  id="card-s" class="card d-none d-md-block">
                                                <img src="https://img.freepik.com/free-vector/cute-woman-teacher-government-uniform-welcoming-posture-character-cartoon-art-illustration_56104-835.jpg?size=626&ext=jpg&ga=GA1.1.2060204379.1689664737&semt=sph"
                                                    class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5 class="card-title">Card title</h5>
                                                    <p class="card-text">Some quick example text to build on the card
                                                        title and make up the bulk of the card's content.</p>
                                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="cards-wrapper">
                                            <div  id="card-s" class="card">
                                                <img src="https://img.freepik.com/free-vector/cute-woman-teacher-government-uniform-welcoming-posture-character-cartoon-art-illustration_56104-835.jpg?size=626&ext=jpg&ga=GA1.1.2060204379.1689664737&semt=sph"
                                                    class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5 class="card-title">Card title</h5>
                                                    <p class="card-text">Some quick example text to build on the card
                                                        title and make up the bulk of the card's content.</p>
                                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                                </div>
                                            </div>
                                            <div  id="card-s" class="card d-none d-md-block">
                                                <img src="https://img.freepik.com/free-vector/cute-cheerful-student-girl-jumping-cartoon-character-kid-children-school-education-hand-draw-art-illustration_56104-2201.jpg?size=626&ext=jpg&ga=GA1.1.2060204379.1689664737&semt=sph"
                                                    class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5 class="card-title">Card title</h5>
                                                    <p class="card-text">Some quick example text to build on the card
                                                        title and make up the bulk of the card's content.</p>
                                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                                </div>
                                            </div>
                                            <div  id="card-s" class="card d-none d-md-block">
                                                <img src="https://img.freepik.com/free-vector/young-businesswoman-showing-thumb-up-sign-cartoon-illustration_56104-520.jpg?size=626&ext=jpg&ga=GA1.1.2060204379.1689664737&semt=sph"
                                                    class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5 class="card-title">Card title</h5>
                                                    <p class="card-text">Some quick example text to build on the card
                                                        title and make up the bulk of the card's content.</p>
                                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                                </div>
                                            </div>
                                            <div  id="card-s" class="card d-none d-md-block">
                                                <img src="https://img.freepik.com/free-vector/young-businesswoman-showing-thumb-up-sign-cartoon-illustration_56104-520.jpg?size=626&ext=jpg&ga=GA1.1.2060204379.1689664737&semt=sph"
                                                    class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5 class="card-title">Card title</h5>
                                                    <p class="card-text">Some quick example text to build on the card
                                                        title and make up the bulk of the card's content.</p>
                                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                                        data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                                        data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                    </section>

                    <%- include('../home/footer') %>
        </body>
        <style>
            .cards-wrapper {
                display: flex;
                justify-content: center;
            }

           .card img {
                max-width: 100%;
                max-height: 100%;
            }

            #card-s {
                margin: 0 0.5em;
                box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
                border: none;
                border-radius: 0;
            }

            .carousel-inner {
                padding: 1em;
            }

            .carousel-control-prev,
            .carousel-control-next {
                background-color: #e1e1e1;
                width: 5vh;
                height: 5vh;
                border-radius: 50%;
                top: 50%;
                transform: translateY(-50%);
            }

            @media (min-width: 768px) {
                .card img {
                    height: 11em;
                }
            }
        </style>

</html>