<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"> //เลื่อนรูปภาพ
        </script>
    <link rel="stylesheet" href="stylesheets/style.css">
    <!-- --------------------------------------------------------------------------------- -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap"
        rel="stylesheet" />

    <!-- AlpineJS -->
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

    <!-- Tailwind -->

    <title>CenterPage</title>
</head>

<body>
    <header>
        <div class="toppage">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" style="color: aliceblue;font-size: 15px;margin-top: -5px;" id="Asetting_page"
                        href="/setting">แก้ไขเว็ปเพจ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: aliceblue;font-size: 15px;margin-top: -5px;" id="Arequest_ADMIN"
                        href="/request">รับคำร้องประกาศข่าว</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: aliceblue;font-size: 15px;margin-top: -5px;" id="Aallow_Offuser"
                    href="/manage_users">จัดการสมาชิก</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: aliceblue;font-size: 15px;margin-top: -5px;" id="bookmake"
                        href="/bookmake">BOOKMAKE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: aliceblue;font-size: 15px;margin-top: -5px;" id="news_doom"
                        href="/news_doom">DOOM</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: aliceblue;font-size: 15px;margin-top: -5px;"
                        id="AddNEWs">เพิ่มข่าวสาร</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" style="color: aliceblue;font-size: 15px;margin-top: -5px;" id="LOGOUT"
                        href="/logout">LOGOUT</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" style="color: aliceblue;font-size: 15px;margin-top: -5px;" id="LOGIN"
                        href="/">LOGIN</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                     style="color: aliceblue;font-size: 18px;margin-top: -8px;"href="#">
                        <%= name%>
                        <img src="https://imgv3.fotor.com/images/cover-photo-image/a-beautiful-girl-with-gray-hair-and-lucxy-neckless-generated-by-Fotor-AI.jpg"
                          style="width: 30px; height: 30px;" class="rounded-circle">
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="/setting_profile">แก้ไขโปรไฟล์</a>
                                <a class="dropdown-item" href="/logout">Logout</a>
                                <a class="dropdown-item disabled" href="#" ><%= row%> </a>
                              </div>
                    </a>
                </li>
<<<<<<< HEAD
                
=======
                <li class="nav-item">
                    <a class="nav-link disabled" style="color: aliceblue;font-size: 15px;margin-top: -5px;">
                        <%= role%>
                    </a>
                </li>
>>>>>>> 815e099cf6a2a7637bb0751e48286b8558b6659a
                <script>
                    var currentUser = {
                        role: '<%= role %>' // ใส่ค่า row ที่ได้รับมาจากตัวแปร row ในหน้า HTML/EJS
                    };
                    console.log(currentUser.row)
                    var setting_page = document.getElementById('Asetting_page');
                    if (currentUser.role === 'ADMIN') {
                        setting_page.style.display = 'block'; // แสดงปุ่ม
                    } else {
                        setting_page.style.display = 'none'; // ซ่อนปุ่ม
                    }
                </script>
                <script>
                    var currentUser = {
                        role: '<%= role %>' // ใส่ค่า row ที่ได้รับมาจากตัวแปร row ในหน้า HTML/EJS
                    };
                    console.log(currentUser.role)
                    var request_ADMIN = document.getElementById('Arequest_ADMIN');
                    if (currentUser.role === 'ADMIN') {
                        request_ADMIN.style.display = 'block'; // แสดงปุ่ม
                    } else {
                        request_ADMIN.style.display = 'none'; // ซ่อนปุ่ม
                    }
                </script>
                <script>
                    var currentUser = {
                        role: '<%= role %>' // ใส่ค่า row ที่ได้รับมาจากตัวแปร row ในหน้า HTML/EJS
                    };
                    console.log(currentUser.role)
                    var allow_Offuser = document.getElementById('Aallow_Offuser');
                    if (currentUser.role === 'ADMIN') {
                        allow_Offuser.style.display = 'block'; // แสดงปุ่ม
                    } else {
                        allow_Offuser.style.display = 'none'; // ซ่อนปุ่ม
                    }
                </script>
                <script>
                    var currentUser = {
                        role: '<%= role %>' // ใส่ค่า row ที่ได้รับมาจากตัวแปร row ในหน้า HTML/EJS
                    };
<<<<<<< HEAD
                    console.log(currentUser.row)
                    var userButton = document.getElementById('news_doom');
                    if (currentUser.row === 'USER') {
=======
                    console.log(currentUser.role)
                    var userButton = document.getElementById('userButton');
                    if (currentUser.role === 'USER') {
>>>>>>> 815e099cf6a2a7637bb0751e48286b8558b6659a
                        userButton.style.display = 'block'; // แสดงปุ่ม
                    } else {
                        userButton.style.display = 'none'; // ซ่อนปุ่ม
                    }
                </script>
                <script>
                    var currentUser = {
                        role: '<%= role %>' // ใส่ค่า row ที่ได้รับมาจากตัวแปร row ในหน้า HTML/EJS
                    };
                    console.log(currentUser.role)
                    var userButton = document.getElementById('bookmake');
                    if (currentUser.role === 'USER') {
                        userButton.style.display = 'block'; // แสดงปุ่ม
                    } else {
                        userButton.style.display = 'none'; // ซ่อนปุ่ม
                    }
                </script>
                <script>
                    var currentUser = {
                        role: '<%= role %>' // ใส่ค่า row ที่ได้รับมาจากตัวแปร row ในหน้า HTML/EJS
                    };
                    console.log(currentUser.role)
                    var userButton = document.getElementById('AddNEWs');
                    if (currentUser.role === 'OFFICIAL USER') {
                        userButton.style.display = 'block'; // แสดงปุ่ม
                    } else {
                        userButton.style.display = 'none'; // ซ่อนปุ่ม
                    }
                </script>
                <script>
                    var currentUser = {
                        role: '<%= role %>' // ใส่ค่า row ที่ได้รับมาจากตัวแปร row ในหน้า HTML/EJS
                    };
                    console.log(currentUser.role)
                    var userButton = document.getElementById('LOGIN');
                    if (currentUser.role === 'GUEST') {
                        userButton.style.display = 'block'; // แสดงปุ่ม
                    } else {
                        userButton.style.display = 'none'; // ซ่อนปุ่ม
                    }
                </script>
                <script>
                    var currentUser = {
                        role: '<%= role %>' // ใส่ค่า row ที่ได้รับมาจากตัวแปร row ในหน้า HTML/EJS
                    };
                    console.log(currentUser.role)
                    var userButton = document.getElementById('LOGOUT');
                    if (currentUser.role === 'USER' || currentUser.role === 'ADMIN' || currentUser.row === 'OFFICIAL USER' ) {
                        userButton.style.display = 'block'; // แสดงปุ่ม
                    } else {
                        userButton.style.display = 'none'; // ซ่อนปุ่ม
                    }
                </script>
            </ul>
        </div>
    </header>